g.added rect {
    fill: hsl(195, 100%, 50%);
}

g.comment.added text {
    stroke: hsl(194, 89%, 38%);
}

g.changed rect {
    fill: hsl(54, 100%, 45%);
}

g.comment.changed text {
    stroke: hsl(59, 100%, 20%);
}